* {
    margin: 0;
    padding: 0;
}

body {

    background: #548687;
    text-align: center;

}

.container {

    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game {
    height: 60.vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height:18vmin;
    width: 18vmin;
    text-align: center;
    border-radius: 1.5vmin;
    border: none;
    box-shadow: 0 0 1.5rem rgb(211, 152, 109) ;
    color: rgb(62, 143, 165);
    font-size: 7.5vmin;

}
#reset-btn{
    padding: 1.2rem;
    color: aquamarine;
    border-style: dotted;
    
    font-size: 1.75rem;
    background-color: #39b6ba;
    border-radius: 7vmin;
}

#new-Btn {

    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(190, 203, 196);
    color: #1d3202;
    border-radius: 1rem;
    border:none;
  
}

  #msg{
    color: aquamarine;
    font-size: 5vmin;
    
  }

  .msg-container{
    color: aliceblue;
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

  }
  .hide{
    display: none;
  }